<div class="row">
    <div class="col-sm-12">
        <form id="static-form" method="post">
            <div class="form-box">
                <textarea name="phrase" id="phrase"></textarea>
                <button id="submit">Submit</button>
            </div>
            <div class="error-box hidden" id="error-container">
                <div class="alert alert-danger text-goes-here">
                </div>
            </div>
            <div class="result-box hidden" id="result-container">
                <div class="alert alert-success text-goes-here">
                </div>
            </div>
        </form>
    </div>
</div>